<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">

	

</head>

<body>

	<div class="nav">
		<ul>
  <li id="menu-item"><a href="index.html">Home</a></li>
  <li id="menu-item"><a href="#news">O nas</a></li>
  <li class="dropdown" id="menu-item">
    <a href="javascript:void(0)" class="dropbtn">Smartfony</a>
    <div class="dropdown-content">
      <a href="all_products_auth.html">Wszystkie</a>
      <a href="iphone-products_auth.html">iPhone</a>
      <a href="samsung-products_auth.html">Samsung</a>
	  <a href="huaweii-products_auth.html">Huaweii</a>
	  <a href="xiaomi-products_auth.html">Xiaomi</a>
    </div>
	<li id="menu-item" style="margin-left: 70%;"><a href="#news"><i class="fas fa-user" id="item-nav"></i></a><li>
	<li><a href="#news"><i class="fas fa-shopping-basket" id="item-nav"></i></a></li>
	<li><a href="index.html"><i class="fas fa-sign-out-alt" id="item-nav"></i></a></li>
</ul>
	</div>
	
	<div class="content">
		<div class="lines">
		<h1>Electra Shop</h1>
	</div>
	</div>
	

	
<main class="site-wrapper">

<h1 class="text-gallery">iPhone</h1>
  <section class="gallery">
    <figure class="gallery__item">
      <img src="img/samsung.jpg" alt="" class="gallery__image">
      <figcaption class="gallery__image-caption">
        Lorem ipsum dolor sit amet.<br>
		<i class="fas fa-cart-plus"></i>
      </figcaption>
    </figure> 
    
    
    <figure class="gallery__item">
     <img class="gallery__image" src="img/iphone.png">  
       <figcaption class="gallery__image-caption"><br>
        Lorem ipsum dolor sit amet.<br>
		<i class="fas fa-cart-plus"></i>
      </figcaption>
    </figure>
    
    <figure class="gallery__item">
     <img class="gallery__image" src="img/iphone.png">  
       <figcaption class="gallery__image-caption">
        Lorem ipsum dolor sit amet.<br>
		<i class="fas fa-cart-plus"></i>
      </figcaption>
    </figure>
    
    <figure class="gallery__item">
     <img class="gallery__image" src="img/iphone.png">  
       <figcaption class="gallery__image-caption">
        Lorem ipsum dolor sit amet.<br>
		<i class="fas fa-cart-plus"></i>
      </figcaption>
    </figure>
    
    
    <figure class="gallery__item">
     <img class="gallery__image" src="img/iphone.png">  
       <figcaption class="gallery__image-caption">
        Lorem ipsum dolor sit amet.<br>
		<i class="fas fa-cart-plus"></i>
      </figcaption>
    </figure>
    
    
    <figure class="gallery__item">
     <img class="gallery__image" src="img/iphone.png">  
       <figcaption class="gallery__image-caption">
        Lorem ipsum dolor sit amet.<br>
		<i class="fas fa-cart-plus"></i>
      </figcaption>
    </figure>
    
     <figure class="gallery__item">
     <img class="gallery__image" src="img/iphone.png">  
       <figcaption class="gallery__image-caption">
        Lorem ipsum dolor sit amet.<br>
		<i class="fas fa-cart-plus"></i>
      </figcaption>
    </figure>
    
     <figure class="gallery__item">
     <img class="gallery__image" src="img/iphone.png">  
       <figcaption class="gallery__image-caption">
        Lorem ipsum dolor sit amet.<br>
		<i class="fas fa-cart-plus"></i>
      </figcaption>
    </figure>
    
  </section>
</main>
	


<div id="footer">
	by Electra Shop
</div>
	
	

</body>

</html>